.booking-layout {
  width: 100%;
}

.booking-layout__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 85px;

  background-color: var(--color-bg-page);

  padding-top: 95px;
  padding-left: 255px;
  padding-right: 255px;
  padding-bottom: 195px;
}

.booking-layout__body > aside {
  width: 364px;
  height: 100%;
  background-color: var(--color-text-heading);
}

.booking-layout__main {
  width: 960px;
  height: 100%;
}