.payment-page {
  width: 100%;
  font-family: Roboto, sans-serif;
}

.payment-page__sections {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  border: 1px solid #c4c4c4;
}

.payment-page__section {
  background: #fff;
}

.payment-page__title {
  padding: 34px 35px 32px;
  border-bottom: 1px dashed #928f94;
  font-size: 30px;
  font-weight: 400;
  color: #292929;

  background-color: #F9F9F9;
}

.payment-page__content {
  padding: 30px 35px 89px;
}

.payment-page__row {
  display: flex;
  gap: 25px;
}

.payment-page__row + .payment-page__row {
  margin-top: 55px;
}

.payment-page__row--single + .payment-page__row--single {
  margin-top: 38px;
}

.payment-page__row--three-cols .payment-page__field {
  width: calc((100% - 50px) / 3);
}

.payment-page__field {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.payment-page__field--short {
  width: 360px;
}

.payment-page__label {
  font-size: 16px;
  font-weight: 400;
  color: #292929;
}

.payment-page__input {
  height: 50px;
  padding: 0 15px;
  border: 1px solid #928f94;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
  font-size: 24px;
  font-weight: 400;
  color: #292929;
}

.payment-page__input::placeholder {
  color: #c4c4c4;
}

.payment-page__section--payment-method {
  border-top: 1px dashed #928f94;
}

.payment-page__payment-options {
  padding: 50px 35px 78px;
  border-bottom: 1px dashed #928f94;
}

.payment-page__checkbox-row {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.payment-page__checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 28px;
  height: 28px;
  border: 1px solid #928f94;
  border-radius: 5px;
  background: #fff;
  position: relative;
  cursor: pointer;
  margin: 0;
}

.payment-page__checkbox:checked {
  background: transparent;
  border-color: #ffa800;
}

.payment-page__checkbox:checked::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 1px;
  width: 10px;
  height: 20px;
  border: solid #ffa800;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.payment-page__checkbox-label {
  font-size: 24px;
  font-weight: 400;
  color: #928f94;
}

.payment-page__checkbox:checked + .payment-page__checkbox-label {
  color: #ffa800;
}

.payment-page__online-methods {
  margin-top: 30px;
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

.payment-page__method {
  max-width: 190px;
  font-size: 24px;
  font-weight: 700;
  color: #292929;
}

.payment-page__cash-row {
  padding: 58px 35px 82px;
}

.payment-page__footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 116px;
}

.payment-page__submit-btn {
  width: 323px;
  height: 60px;
  border: none;
  border-radius: 5px;
  background: #ffa800;
  color: #fff;
  text-transform: uppercase;
  font-family: inherit;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.payment-page__submit-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
